@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

@theme inline{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-orbitron: var(--font-orbitron );
  
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #1a1a1a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "neotech", Arial, Helvetica, sans-serif;
}

@layer components {
  .rightMenu {
    @apply p-2 rounded-md hover:border-2 hover:border-green-400;
  }
}



@utility main-gradient {
  @apply border-[rgba(187,247,208,0.5)] rounded-[1.5em] bg-gradient-to-br from-[rgba(240,253,244,0.95)] to-[rgba(220,252,231,0.8)];
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@layer components {
  .card-design {
   @apply border-2 border-[rgba(134,239,172,0.4)] rounded-[1.5em] bg-gradient-to-br from-[rgba(255,255,255,0.95)] to-[rgba(240,253,244,0.9)] text-gray-800 p-[1em] flex justify-center items-start flex-col gap-[0.75em] backdrop-blur-[12px] hover:border-[rgba(134,239,172,0.6)] hover:from-[rgba(255,255,255,1)] hover:to-[rgba(240,253,244,1)] transition-all duration-300 hover:shadow-lg;
  }
}
